.button-container {
	margin: 10px;
}


.table-container {
	border: 2px solid #008080;
	max-width: 100%;
	margin: auto;
	overflow: auto;
}

.table-container table {
	width: 100%;
	text-align: center;
}

.table-container th {
	background: #008080;
	color: white;
	padding: 10px;
}

.table-container tbody {
	background: white;
}

.table-container tbody tr {
	cursor: pointer;

}

.table-container tbody tr:nth-child(odd) {
	background: lightgray;
}

.table-container tbody tr:hover {
	background: lightblue;
}

.table-container tbody td {
	padding: 0 10px;
}

.table-container tbody td span {
	display: block;
	padding: 10px 0;
}

.table-container tbody td input {
	height: 30px;
	width: 90%;
	border: 1.5px solid blue;
	padding: 0 2px;
}





